.carousel-img {
  width: 100%;
  height: 50vh; /* nebo jiná požadovaná výška */
  object-fit: cover;
  object-position: center;
  background-color: #257e88;
  /* border: 1px solid #ffffff; */
}

.carousel-container {
  width: 100%;
  height: 100%; /* nebo jiná požadovaná výška */
  overflow: hidden;
  position: relative;
}

.carousel-inner {
  height: 100%;
}

.carousel-item {
  height: 100%;
}

@media (min-width: 430px) {
  .carousel-img {
    height: 50vh;
  }
}

@media (min-width: 768px) {
  .carousel-img {
    height: 55vh;
  }
}
